.spinner-grow.green {
    background-color: #4caf50;
}

.spinner-grow.red {
    background-color: #f44336;
}

.spinner-grow.yellow {
    background-color: #ffeb3b;
}

.spinner-grow.orange {
    background-color: #ff9800;
}

.spinner-grow.blue {
    background-color: #2196f3;
}
