.full-layer-mid-header .logo {
  gap: 0.5rem;
}

.full-layer-mid-header .logo img {
  max-width: 50px;
}

.full-layer-mid-header .logo p {
  font-size: 1rem;
  display: grid;
  margin: 0;
}

.filtering-padding {
  padding: 25px 15px;
  margin-bottom: 1rem;
}

.list-style .item-description p {
  min-width: 498px;
  width: 100%;
}

@media screen and (max-width: 551px) {
  .full-layer-mid-header .logo {
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.clear-filters {
  position: fixed;
  z-index: 1000;
  top: 1rem;
  left: 1rem;
  animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.invalid-feedback {
  display: block;
}

.is-invalid {
  border: 1px solid #dc3545;
}

.text-field.is-invalid:focus {
  border-color: #dc3545;
}

.list-style .item {
  width: 100%;
}

input {
  border-radius: 0 !important;
}

.reg-wrapper.wide {
  max-width: 100%;
}

.delivery-address-add {
  border-bottom: 1px solid var(--main-color);
  background: var(--main-color);
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
}

.delivery-address-add:hover {
  color: white;
}

.total-amount {
  background: var(--main-color);
  color: white;
  font-weight: bold;
}

table {
  border: 1px solid #dcdcdd;
}

.gold {
  color: #ebb617;
}

.modal-dialog {
  width: 100%;
  max-width: 600px !important;
}

#currencies-table th,
#currencies-table td {
  padding: 7px 12px;
}
